--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (id, name) FROM stdin;
1	HR
2	Engineering
3	Sales
4	Marketing
5	Finance
6	Operations
7	Support
8	IT
9	Legal
10	Admin
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees (id, name, department_id, email, salary) FROM stdin;
1	Harshit Punera	2	harshit.Punera@company.com	75000.00
2	Neha Verma	1	neha.verma@company.com	55000.00
3	Rahul Mehta	3	rahul.mehta@company.com	65000.00
4	Priya Singh	4	priya.singh@company.com	60000.00
5	Karan Patel	5	karan.patel@company.com	70000.00
6	Anjali Gupta	6	anjali.gupta@company.com	58000.00
7	Rohit Jain	7	rohit.jain@company.com	52000.00
8	Sneha Kapoor	8	sneha.kapoor@company.com	68000.00
9	Vikas Yadav	9	vikas.yadav@company.com	72000.00
10	Pooja Malhotra	10	pooja.malhotra@company.com	50000.00
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 10, true);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_id_seq', 10, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 10, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 10, true);


--
-- PostgreSQL database dump complete
--

